// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.adminhead {
  width: 50%;
margin: auto;
}

.table-admin {
width: 50%;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
border: 2px;
border: black;
border-color: black;
 
th {
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td, tr {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
  width: 20%;
}

}